
myangular/.browserslistrc
myangular/.editorconfig
myangular/.metadata/.lock
myangular/.metadata/.log
myangular/.metadata/.mylyn/repositories.xml.zip
myangular/.metadata/.plugins/com.genuitec.eclipse.code.core/.codeMixData/1/Backups/workspaces.json
myangular/.metadata/.plugins/com.genuitec.eclipse.code.core/.codeMixData/1/Cache/data_0
myangular/.metadata/.plugins/com.genuitec.eclipse.code.core/.codeMixData/1/Cache/data_1
myangular/.metadata/.plugins/com.genuitec.eclipse.code.core/.codeMixData/1/Cache/data_2
myangular/.metadata/.plugins/com.genuitec.eclipse.code.core/.codeMixData/1/Cache/data_3
myangular/.metadata/.plugins/com.genuitec.eclipse.code.core/.codeMixData/1/Cache/index
myangular/.metadata/.plugins/com.genuitec.eclipse.code.core/.codeMixData/1/CachedData/5b5c3da232b4eafcf0f94a5572b80a069591231b/acorn-5f5478b1ef31e3b3a1147b8893c84810.code
myangular/.metadata/.plugins/com.genuitec.eclipse.code.core/.codeMixData/1/CachedData/5b5c3da232b4eafcf0f94a5572b80a069591231b/applicationinsights-22a01b01a4b19cbadb5939f038acdeee.code
